// Colors
$pink:#E63946;
$light: #F1FAEE;
$light-blue: #A8DADC;
$blue: #457B9D;
$dark-blue: #1D3557;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;